body{
    padding:0;
    margin:0;
}
h1,h2{
    color:#0A1D37;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
}
h2{
    font-size: 40px;
}
.header{
    background-color: #EAD3CB;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    margin:0;
    
    
}

a{
    text-decoration: none;
    color:#845460;
    padding-right: 10px;
    padding-left: 10px;
   
}

a:hover, a:active{
    color:#2B4F60;
    background-color:#BDC7C9;
    text-decoration: none;
    display: inline-block;
}

ul{
    
    list-style-position: inside;
    text-align: center;
}
.section-p{
    margin-top: 0px;
    text-align: center;
    background-color: #F8EDED;
}
.article-1{
    font-size: 20px;
}

.article-2{
    font-size: 20px;
}

.footer{
    position: fixed;
    background-color: #EAD3CB;
}
p.mavi{
    color:#02475E;
}